extends ./layout/index

block contenido 
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae consectetur ex, rutrum euismod eros. Nulla urna ante, tempor vitae enim ut, finibus faucibus ipsum. Nam elit magna, tempus quis bibendum et, ultricies eu ante. Proin tempor ipsum quis odio aliquam, vitae condimentum est lobortis. In hac habitasse platea dictumst.

                p E ligula in felis molestie varius. Sed lacinia bibendum mi, sed faucibus metus mollis sit amet. Nunc luctus augue sem, nec maximus magna condimentum vel. Curabitur aliquet lobortis nisi, nec placerat urna rhoncus nec. In varius venenatis risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris rhoncus neque at dui efficitur, in interdum sem efficitur. 

                p Vitae mi sed erat feugiat dictum. Nullam iaculis, magna viverra ullamcorper finibus, diam tortor imperdiet lorem, maximus finibus felis tortor sed erat. Ut suscipit metus at aliquam varius. Curabitur maximus diam ac auctor venenatis. Duis aliquet gravida enim in blandit. Vestibulum scelerisque at augue vitae efficitur. Mauris at neque nunc.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed lacinia bibendum mi, sed faucibus metus mollis sit amet, er tyme worm kema quesa sora.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Sed lacinia bibendum mi, sed faucibus metus mollis sit amet, er tyme worm kema quesa sora.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Sed lacinia bibendum mi, sed faucibus metus mollis sit amet, er tyme worm kema quesa sora.